config include
        option type 'nftables'
        option path '/etc/nftables.user.nft'
        option position 'ruleset-post'

config zone
        option name 'tun'
        option input 'ACCEPT'
        option output 'ACCEPT'
        option forward 'ACCEPT'
        list network 'tun'

config forwarding
        option src 'tun'
        option dest 'lan'

config forwarding
        option src 'lan'
        option dest 'tun'
