log:
  level: info

api:
  http: 10.0.0.1:8080

plugins:

  - tag: real_resolve
    type: forward
    args:
      concurrent: 3
      upstreams:
        - addr: https://223.5.5.5/dns-query
          enable_http3: true
          tag: ali_doh3
        - addr: https://1.12.12.12/dns-query
          tag: tencent_doh
        - addr: https://223.6.6.6/dns-query
          enable_http3: true
          tag: ali_bak_doh3

  - tag: singbox_dns
    type: forward
    args:
      upstreams:
        - addr: tcp://172.19.0.2
          tag: singbox

  - tag: singbox_logic
    type: sequence
    args:
      - matches: qtype 64 65
        exec: reject 0
      - exec: $singbox_dns

  - tag: singbox_fallback
    type: fallback
    args:
      primary: singbox_logic
      secondary: real_resolve
      threshold: 1000
      always_standby: false

  # First match inbound
  - type: udp_server
    args:
      entry: singbox_fallback
      listen: :5454
  - type: tcp_server
    args:
      entry: singbox_fallback
      listen: :5454

  # Second match inbound
  - type: udp_server
    args:
      entry: real_resolve
      listen: 127.0.0.1:5455
  - type: tcp_server
    args:
      entry: real_resolve
      listen: 127.0.0.1:5455
